.category-layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  margin: 100px;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.products {
  flex: 1;
}

@media (max-width: 768px) {
  .category-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
