/* ===== SIDEBAR WRAPPER ===== */
.sidebar {
    width: 280px;
    flex-shrink: 0;
}

.sidebar-link.active {
    background-color: black;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.sidebar-inner {
    position: sticky;
    top: 120px;
}